/* Общие стили для всего приложения */
.root {
    -fx-font-family: "Verdana";
    -fx-background-color: #ffffff; /* Изменен на белый фон */
    -fx-border-width: 0; /* Убираем границу */
}

/* Заголовок */
.header-label {
    -fx-padding: 8px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/*!* Поле ввода текста *!*/
/*.text-field {*/
/*    -fx-font-size: 14px;*/
/*    -fx-padding: 8px; !* Увеличение отступов *!*/
/*    -fx-border-width: 0;*/
/*    -fx-background-color: #f0f0f0; !* Цвет фона *!*/
/*    -fx-pref-width: 400; !* Установка ширины *!*/
/*}*/

/* Кнопка "Найти дубликаты" */
.find-button {
    -fx-font-size: 14px;
    -fx-padding: 8px 12px; /* Увеличение отступов */
    -fx-background-color: #c1caca;
}

/* Окно с загрузочной строкой и результатами сканирования */
.result-box {
    -fx-border-width: 0; /* Убираем границу */
    -fx-padding: 10px;
    -fx-background-color: #fff;
}

/*!* Статусная метка *!*/
/*.status-label {*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-weight: bold;*/
/*}*/

/*!* Область для вывода результатов *!*/
/*result-textarea {*/
/*    -fx-font-size: 14px;*/
/*    -fx-padding: 5px;*/
/*    -fx-border-width: 0; !* Убираем границу *!*/
/*    -fx-background-color: #f0f0f0; !* Цвет фона *!*/
/*    -fx-pref-width:600; !* Возвращаем предыдущую ширину *!*/
/*    -fx-max-width: 600; !* Установка максимальной ширины *!*/
/*    -fx-max-height: 200; !* Установка максимальной высоты *!*/
/*}*/


/* Добавляем полосы прокрутки для текстового поля */
.text-area .scroll-pane {
    -fx-hbar-policy: as-needed; /* Горизонтальная полоса прокрутки при необходимости */
    -fx-vbar-policy: as-needed; /* Вертикальная полоса прокрутки при необходимости */
}

/* Дерево папок */
.folder-tree {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: transparent; /* Убрать границу */
    -fx-border-width: 0;
}
.find-button:hover {
    -fx-cursor: hand;
}
/* Вкладки */
.tab {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #c1caca; /* Цвет фона вкладки */
    -fx-min-width: 120; /* Фиксированная минимальная ширина вкладки */
    -fx-max-width: 120; /* Фиксированная максимальная ширина вкладки */
}

/* Вкладка в фокусе */
.tab:focused {
    -fx-background-color: #a1a8aa; /* Измененный цвет фона вкладки в фокусе */
}
/* Выбранная вкладка */
.tab:selected {
    -fx-background-color: #7b7b7b; /* Цвет фона выбранной вкладки */
}

/* Заголовок вкладки */
.tab .tab-label {
    -fx-text-fill: #000000; /* Цвет текста заголовка вкладки */
    -fx-font-weight: bold;
}

.tab:hover {
    -fx-cursor: hand;
}
/* Стили для кнопки "Настройки" */
.settings-button {
    -fx-font-size: 14px;
    -fx-padding: 8px 12px; /* Увеличение отступов */
    -fx-background-color: #66CDAA;
    -fx-alignment: baseline_right; /* Выравнивание кнопки по правому краю */
}
.settings-button:hover {
    -fx-cursor: hand;
}
/* Кнопка "Выбор дисков и папок" */
.select-button {
    -fx-font-size: 14px;
    -fx-padding: 8px 12px; /* Увеличение отступов */
    -fx-background-color: #4CAF50; /* Цвет фона */
    -fx-text-fill: #ffffff; /* Цвет текста */
    -fx-border-radius: 5px; /* Скругление углов */
}

.select-button:hover {
    -fx-background-color: #45a049; /* Цвет фона при наведении */
    -fx-cursor: hand;
}
